body {
  color: black !important;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-bg {
  color: white !important;
  background-color: #000000d8 !important; /* Pure black background */
  background-image: url("./assets/navBgImg.svg");
  background-blend-mode: multiply; /* Ensures the image blends with the black */
  background-size: cover; /* Adjust image size to cover the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
}

.pending-section {
  /* Active Visitors */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
    inset 0px 0px 0px 1px rgba(16, 24, 40, 0.18),
    inset 0px -2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
}
