@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script&family=Poppins&display=swap");

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
  height: 0px; /* Height of the scrollbar (for horizontal scroll) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Optional: Round the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Round the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  font-family: "Poppins" !important;

  color: white !important;
  background-color: #180707;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  /* all: unset !important; */
  text-decoration: none !important;
}

.hero-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
}

.hero-subtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;

  color: rgba(255, 255, 255, 0.7);
}
.event-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgba(255, 255, 255, 0.7);
}

.this-week-details {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgba(255, 255, 255, 0.7);
}
.required {
  color: red;
  font-weight: bold;
}

.about-page article {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.event-details map {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}

.event-details span li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}
.cat-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #ffffff;
}
@media (min-width: 1300px) {
  .event-details {
    min-width: 500px;
  }
}
@media (max-width: 768px) {
  .hero-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
  }
  .hero-subtext {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    color: rgba(255, 255, 255, 0.7);
  }
  .about-page span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
  }
}
.home-sugg {
  background-image: url("./assets/bgImg.svg");

  background-repeat: no-repeat;
  background-size: cover;

  background-size: 100%;
  background-position: center;
}
.ticket-bg {
  background: linear-gradient(#ffffff, #ffdd0078), url("./assets/ticketBg.svg");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.custom-ticket p {
  font-family: "Avenir";
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  line-height: 136.5%;
  /* or 38px */
  letter-spacing: -0.025em;

  color: #000000;
}
.custom-ticket span {
  font-family: "Avenir";
  font-style: italic;
  font-weight: 350;
  font-size: 16px;
  line-height: 136.5%;
  /* identical to box height, or 22px */
  letter-spacing: -0.025em;

  color: #000000;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .home-suggest {
    gap: 30px !important;
  }
}
